
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.container{
    width: max(800px,50%);
    margin: auto;
    background-color: gray;
    border-radius: 15px;
    margin-top: 20px;
}
.content{
    justify-content: center;
    align-items: center;
    display: flex;
}
h1{
    font-family: "Poppins";
    margin: auto;
    padding: 40px;
    color: white;
}
a{
    text-decoration: none;
    font-family: "Poppins";
    color: white;
}
li{
    font-size: 20px;
    padding: 10px;
}
button{
    font-size: 20px;
    border-radius: 3px;
}